[submodule "lib/rocksdb"]
	path = lib/rocksdb
	url = https://github.com/achanda/rocksdb.git
	branch = 79ddb9726
[submodule "lib/KV-WorkloadGenerator"]
	path = lib/KV-WorkloadGenerator
	url = https://github.com/SSD-Brandeis/KV-WorkloadGenerator
	branch = main
